body {
          background-color: powderblue;
        }
        h1 {
          color: blue;
          background-color: red;
            text-align: center;
        }
        p{
          color: lime;
          background-color: blue;
          text-align: center;
        }
        a {
          color: red;
            background-color: orange;
        }
        button {
          color: blue;
            background-color: lime;
        }